*.pyc
__pycache__/
.idea/
.vscode/
repositories/
Logs/
configs/*
!configs/.gitkeep
!configs/SRC-dev.json
!configs/giachina.json
!configs/giaglobal.json
launcher_config_name.txt
*.pot
*.mo
cache/
CppProperties.json
installed_python/